# Project: Monochrome
# Company: Broken Dinosaur Studios
# Author: Joshua Suskalo
# Copyright: April 2018

# Binary resources
build/
release/
monochrome.so
monochrome.dll

# Art assets
resources/*
!resources/shaders/
!resources/scripts/

# Editor specific files
.dir-locals.el
.clang_complete
GTAGS
GRTAGS
GPATH

# Other files
log.txt