# Project: Ghoti
# Company: Broken Dinosaur Studios
# Author: Joshua Suskalo, Pranav Sahani
# Copyright: 2018

# Binary resources
build/
release/
ghoti.so
ghoti.dll

# Editor specific files
.dir-locals.el
.clang_complete
local-ghoti.supp
GTAGS
GRTAGS
GPATH
.vscode
*.cap

# Other files
*.log
vgcore.*
*.scene
*.entity
*.save