# Project: Monochrome
# Company: Broken Dinosaur Studios
# Author: Joshua Suskalo
# Copyright: April 2018

# Binary resources
build/
lib/

# Art assets
resources/*
!resources/shaders/

# Editor specific files
.dir-locals.el
.clang_complete
GTAGS
GRTAGS
GPATH